<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Tano Go</string>
    <key>CFBundleIdentifier</key>
    <string>dev.tano.go</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Tano Go scans your local network to find development servers.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_tano._tcp</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
</dict>
</plist>
